---
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/Nav.astro';
import PostCard from '../../components/PostCard.astro';

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title='Trailedge Labs // Blog' desc='Trailedge Labs Blog'>
  <Nav />

  <section class='w-full justify-center py-4'>
    <a href='/blog' class='flex inline-flex items-center px-8 py-4 text-gray-800 dark:text-gray-200'>
      <svg width="2em" height="2em" viewBox="0 0 14 14">
        <title>Blog</title>
        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="m7.5 9l-3 .54L5 6.5L10.73.79a1 1 0 0 1 1.42 0l1.06 1.06a1 1 0 0 1 0 1.42Z"/><path d="M12 9.5v3a1 1 0 0 1-1 1H1.5a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h3"/></g>
      </svg>
      <h3 class='text-2xl font-baunk py-4 pl-2'>Blog</h3>
    </a>

    <div class='flex gap-4 grid grid-cols-1 md:grid-cols-2 flex-row flex-wrap'>
      {posts.map(({ slug, data: { heroImage, title, description, pubDate }}) => (
        <PostCard slug={slug} heroImage={heroImage} title={title} description={description} pubDate={pubDate} />
      ))}
    </div>
  </section>
</Layout>
