---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import PostCard from '../../components/PostCard.astro';

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title='BSW // Blog' desc='Brad White, Fullstack Dev'>
  <Header />

  <section class='w-full justify-center py-4'>
    <a href='/blog' class='flex inline-flex items-center px-8 py-4'>
      <svg class='stroke-gray-800 dark:stroke-[#D08A8A] mr-2' width="2em" height="2em" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12 20h9"/><path d="M16.5 3.5a2.12 2.12 0 0 1 3 3L7 19l-4 1 1-4Z"/>
      </svg>
      <h3 class='text-2xl font-crenzo text-gray-800 dark:text-gray-200 py-4'>Blog</h3>
    </a>

    <div class='flex gap-4 grid grid-cols-1 md:grid-cols-2 flex-row flex-wrap'>
      {posts.map(({ slug, data: { heroImage, title, description, pubDate }}) => (
        <PostCard slug={slug} heroImage={heroImage} title={title} description={description} pubDate={pubDate} />
      ))}
    </div>
  </section>
</Layout>
